{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-page">
    
    <h1>About Sneaker Store</h1>
    <p>Welcome to Sneaker Store, your ultimate destination for the latest and most stylish sneakers. 
       We are passionate about footwear and committed to bringing you the best brands and exclusive collections. 
       Our mission is to provide a seamless shopping experience with a diverse selection of sneakers for everyone.</p>
    <p>Founded by sneaker enthusiasts, our store offers a carefully curated selection of footwear from top brands, 
       catering to every style, from classic designs to the latest trends. Whether you're a casual wearer or a serious collector, 
       Sneaker Store has something for you.</p>
    <p>Visit us, explore our catalog, and step up your sneaker game!</p>
    {{content_info}}
</div>
{% endblock %}