{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <div class="auth-form">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{form.username}}
             
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{form.password}}
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'registration' %}">Sign up here</a></p>
    </div>
</div>
{% endblock %}