{% load goods_tags %}
{% load static %}
{% load carts_tags %}

{% user_carts request as cart %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    {% include "includes/notifications.html" %}
    <div class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">Info</a></li>
           
            {% if  user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <li><a href="{% url 'profile' %}">My Profile</a></li>
            <li><a href="{% url 'user_cart' %}">Checking</a></li>
            
            {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
            
        </ul>
        
        <form role="search" action="{% url "search" %}" method="get">
            <div class="search-container">
                <input type="search" placeholder="Search..." name="q">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    
    <div class="buttons">
        <button id="catalogButton" class="btn">
            <span>Catalog</span>
            <img src="{% static 'images/category.png' %}" alt="Category Icon" class="btn-icon">
        </button>
        <button id="basketButton" class="btn">
            <span>Basket {% if cart.total_quantity %}{{cart.total_quantity}}{% endif %}</span>
            <img src="{% static 'images/basket-icon.png' %}" alt="Basket Icon" class="btn-icon">
        </button>
    </div>

    <!-- Main content area -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Pop-up Modals -->
    <div id="catalogModal" class="modal">
        <div class="modal-content catalog-content">
            <span class="close" onclick="closeModal('catalogModal')">&times;</span>
            <h2>Catalog</h2>
            <div class="catalog-grid">
                {% tag_categories as categories %}
                {% for cat in categories%}
                <a href="{% url "catalog" cat.slug %}" class="catalog-item">{{cat.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="basketModal" class="modal">
        
            <span class="close" onclick="closeModal('basketModal')">&times;</span>
            {% include "carts/includes/included_cart.html" %}
        
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
